.box-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 320px;
    background-color: #a200ff80;
    border-radius: 5px;
    padding: 10px 20px;
}

label {
    display: block;
    margin-top: 20px;
    align-self: flex-start;
    margin: 10px 0 0 5px;
    color: #fff;
    padding: 5px;
}

input,
textarea {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 3000px;
    background-color: #fff;
    color: #000;
    border: none;
}


textarea {
    height: 150px;
    resize: none;
}




button {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    color: #a200ff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    border: 1px solid #fff;

}

button:hover {
    background-color: #a200ff;
    color: #fff;
    transition: 0.5s;
}

.contact {
    text-align: center;
}

.main {
    width: 100%;
}