form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-top: 20px;
}

input, textarea {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}